html, body {
width: 400px;
height: 400px;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #11a3d0; /* Light gray background */
}
